<div class="parallax">
    <div class="background"></div>
    <div class="row">
      <div class="twelve columns centered">
        <h1>Hackaton Makers</h1>
        <h3> Hagamos que las buenas ideas pasen </h3>
      </div>
    <div class="twelve columns centered">
      <p>El avance de la tecnología nos permite idear, implementar y testear ideas para así solucionar problemas en breves periodos . La capacidad de creación y creatividad individual está en crecimiento.
      Nosotros rompemos la quietud y ayudamos a que las cosas pasen </p>
      <p>Nosotros Armamos espacios de colaboración donde las personas logran concretar objetivos propios y grupales utilizando nuevas herramientas de manera intensiva  durante un ajustado periodo de tiempo. </p>
      <h3> Personas + Tech + Diseño +  Ideas </h3>
    </div>
    </div>
</div>

<div class="parallax">
    <div class="row">
      <div class="twelve columns centered">
        <h2>¿Cuando son los proximos eventos?</h2>
          <div>
            <h3>Novimebre 2014 - Hackathon Litoral - Santa Fe @ FICH UNL </h3>
            <p>Descripcion</p>
            <p>Sponsors</p>
          </div>
          <div>
            <h3>Diciembre 2014 - Noches Relampago - Mar Del Plata @ DevSpark </h3>
            <p>Descripcion</p>
            <p>Sponsors</p>
          </div>
          <a class="cta" href="">Quiero que vengan a mi ciudad</a>
      </div>
      
  </div>
</div>

<div class="parallax">
    <div class="row">
      <div class="twelve columns centered">
        <h2>¿Cómo lo hacemos?</h2>
        <h3>Hackathons <small>2/3 dias </small></h3>
        <p>Generamos un ambiente para juntar personas con ideas, armar equipos y concretarlos en prototipos.</p>
        <h3>Bootcamps  <small> 4/6 horas </small></h3>
        <p>Arrancamos desde 0 y te ayudamos a entender como trabajar como nuevas plataformas.</p>
        <h3>Noches Relampago <small> 2/3 horas  </small></h3>
        <p>En un corto periodo de tiempo, juntamos a personas de la comunidad para que cuente proyectos y experiencias.</p>
        <a class="cta" href="">Quiero hacer de esto..</a>
      </div>
      
  </div>
</div>

<div class="parallax">
    <div class="row">
      <div class="twelve columns centered">
        <h2>¿Que hicimos hasta ahora?</h2>
        <div>
          <h3>Hackathon Litoral 2013 - Santa Fe </h3>
          <p>{{descripcion}}</p>
          <p>Donde Cuando </p>
          <p>Proyectos Destacados</p>
          <p> Sponsors</p>
        </div>
        <div>
          <h3>Hackathon Litoral 2014 - Parana</h3>
          <p>{{descripcion}}</p>
          <p>Donde Cuando </p>
          <p>Proyectos Destacados</p>
          <p> Sponsors</p>
        </div>
        <div>
          <h3>Sensor Journalism Bootcamp - HackHackers Media Party 2014.</h3>
          <p>{{descripcion}}</p>
          <p>Donde Cuando </p>
        </div>
      </div>
  </div>
</div>

<div class="parallax">
  <div class="row">
    <div class="twelve columns centered">
      <h2> ¿Que queremos hacer?</h2>
      <p>Promover el uso de nueva tecnologías. </p>
      <p>Formar comunidades con una conciencia creativa. </p>
      <p> Romper barreras de entradas a nuevas tecnologías. </p>
      <p> Federalizar la actividades de innovación aprovechando</p>
      <p>Promover el trabajo entre tecnologia, diseño en la industria creativa</p>
      <p> Organizar eventos que fomenten la iniciativa de producción e innovación.</p>
    </div>
  </div>
</div>
<div class="parallax">
  <div class="row">
    <div class="twelve columns centered">
      <h2> ¿Como lo estamos haciendo? </h2>
      <p> Organizamos 2 a 3 eventos anualmente, que fomenten la iniciativa de producción e innovación tecnológica de comunidades de diferentes regiones del país.
      <p> Logramos tener una gran tasa de éxito en los prototipos del evento como así también grandes motivaciones en el trabajo post hacakthon de cada uno de los productos.</p>
    </div>
  </div>
</div>
<div class="parallax">
  <div class="row">
      <div class="twelve columns centered">
          <h2> ¿Para que te puede servir un evento?</h2>
          <p>Ayudar a formar la comunidad de Diseño y Tecnologia tu región</p>
          <p>Formar equipos para concretar ideas</p>
          <p>Ir de una Idea a un Prototipo</p>
          <p>Aprender nuevas tecnologias</p>
          <p>Aprender diseño y usabilidad</p>
        </div>
      </div>
  </div>
</div>
<div class="parallax">
    <div class="row">
      <div class="twelve columns centered">
        <h2> ¿Quienes somos?</h2>
      </div>
        <div class="row personas">
          <div class="row">
              <div class="item">
                  <div class="round">
                      <img src="/img/humanos/rudi.jpg">
                  </div>
                  <h5> Lucas Rudi <p>@Thepiedrastone</p></h5>
              </div>
              <div class="item">
                  <div class="round">
                      <img src="/img/humanos/marcos.jpg">
                  </div>
                  <h5> Marcos Vivar <p>@m4rk1ch </p><h5>
        </div>
        <div class="item">
          <div class="round">
              <img src="/img/humanos/franco.jpg">
          </div>
              <h5> Franco Rabaglia <p>@franco_rabaglia</p></h5>
          </div>
          </div>
          <div class="row">
              <div class="item">
                  <div class="round">
                      <img src="/img/humanos/eze.jpg">
                  </div>
                  <h5> Ezequiel Romero <p> @ekiss88 </p></h5>
              </div>
              <div class="item">
                  <div class="round">
                      <img src="/img/humanos/tincho.jpg">
                  </div>
                  <h5>Martin Rabaglia </h5>
                  <p>@sr_humo</p>
              </div>
              <div class="item">
                  <div class="round">
                      <img src="/img/humanos/yvi.png">
                  </div>
                  <h5>Yvonne Bonnet </h5>
                  <p>@yvitabonnet</p>
              </div>
          </div>
        </div>
        <a class="cta" href="">Quiero sumarme</a>
    </div>
</div>

<div class="parallax">
  <div class="row sponsors">
  <div class="twelve columns centered">
      <h2> ¿Quienes colaboran?</h2>
              <div class="tweleve centered columns">
                <div class="row">
                    <div class="four columns">
                      <img src="/img/sponsor/mcc_logo.jpg">
                    </div>
                    <div class="four columns">
                      <img src="/img/sponsor/cdlc_logo.jpg">
                    </div>
                    <div class="four columns">
                      <img src="/img/sponsor/mcc_logo_2.jpg">
                    </div>
                    
                </div>
            </div>
            <div class="tweleve centered columns">
                <div class="four columns">
                  <a class="org" href="http://www.santafe.gov.ar/index.php/web/content/view/full/93790" target="_blank"><img class="small " src="/img/Santa-Fe.jpg"a></h2>
                </div>
                <div class="four columns">
                    <a href="http://www.patagoniatecnology.com/tienda/" target="_blank">
                        <img src="/img/sponsor/patagonia.jpg">
                    </a>
                </div>

                <div class="four columns">
                  <a class="org" href="http://fich.unl.edu.ar" target="_blank"> 
                    <img class="small " src="/img/LOGO_FICH.png"/> </a>
                </div>
                
            </div>
            <div class="tweleve centered columns">
                <div class="four columns">
                  <img src="/img/sponsor/bocatta_logo.jpg">
                </div>
                <div class="four columns">
                  <img src="/img/sponsor/babylon_logo.png">
                </div>
                <div class="four columns">
                  <a href="http://sumaconectivo.com/" target="_blank"> <img src="/img/sponsor/suma_logo.jpg"></a>
                </div>
            </div>
            <div class="twelve centered columns">
              <a class="cta" href="">Quiero ayudar</a>
            </div>

          </div>
          
        </div>
    </div>
</div


