<div class="navbar" id="nav1" gumby-fixed="top">
    <a class="toggle" gumby-trigger="#nav1 > div > div > ul" href="#"><i class="icon-menu"></i></a>
    <div class="row">
        <div class="twelve columns centered">
            <ul>
                <li><a href="" ng-click="next('hm')">Hackathon Makers</a>
                </li>
                <li><a href="" ng-click="next('cuando')">Cuando</a>
                </li>
                <li><a href="" ng-click="next('como')">Como</a>
                </li>
                <li><a href="" ng-click="next('que')">Que</a>
                </li>
                <li><a href="" ng-click="next('hacer')">Por qué</a>
                </li>
                <li><a href="" ng-click="next('quienes-somos')">Nosotros</a>
                </li>
                <li><a href="" ng-click="next('ayudan')">Colaboran</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="parallax" id="conceptos-slider">
    <div class="background"></div>
    <div class="detail row">
        <div class="twelve columns centered">
            
        </div>
         <div class="twelve columns centered">
            <h1>Hackaton Makers</h1>
            <h3>Concretemos buenas ideas</h3>
            <br>
        </div>
        <div class="twelve columns centered">
            <div class="copy">
                <p>El avance de la tecnología nos permite idear, implementar y testear ideas para así solucionar problemas en breves    periodos. La capacidad de creación y creatividad individual está en crecimiento.</p>
                <p>Nos dedicamos a generar a ayudar a que las cosas pasen armando espacios de colaboración donde las <strong>personas 
                </strong>logran concretar objetivos propios y grupales utilizando nuevas herramientas de manera intensiva durante breves periodos de tiempo.</p>
            </div>
        </div>
         <div class="twelve columns centered">
            <div class="three-four columns">
                <img class="icon" src="http://google.github.io/material-design-icons/action/svg/ic_face_unlock_24px.svg"/>
                <h3>Personas</h3>
              </div>
            <div class="three-four columns">
                <img class="icon" src="http://google.github.io/material-design-icons/action/svg/ic_settings_cell_24px.svg"/>
                <h3>Tecnologia</h3>
              </div>
            <div class="three-four columns">
                <img class="icon" src="http://google.github.io/material-design-icons/image/svg/ic_brush_24px.svg"/>
                <h3>Diseño</h3>
              </div>
            <div class="three-four columns">
                <img class="icon" src="http://google.github.io/material-design-icons/image/svg/ic_wb_sunny_24px.svg"/>
                <h3>Ideas</h3>
              </div>
        </div>
    </div>
</div>

<div class="parallax" id="cuando">
    <div class="detail row">
        <div class="twelve columns centered">
            <h1>¿Cuando son los proximos eventos?</h1>
            <br/>
            <h3> Hay planes para <strong> 2015 </strong> </h3>
            <h2> Mar del Plata / Santa Fe / Cordoba / Parana </h2>
            <a class="cta" href="">Avisame Cuando es!</a>
           <!--  <wrap-owlcarousel class="owl-carousel"   
                data-options="{autoPlay: 5000, stopOnHover: true,  
                    slideSpeed : 300, paginationSpeed : 400, singleItem : true}">  
                  <div class="row">
                    <div class="six columns background-row">
                     <h1> 22 / 23 </h1>
                     <h1> NOV</h1>
                     <h3>Santa Fe @ Fich UNL</h3>
                     <h3> Hackaton </h3>
                     <img  class="icon-medium" src="http://google.github.io/material-design-icons/action/svg/ic_settings_24px.svg"/>
                  </div>
                  <div class="six columns background-row">
                    <img class="mobile-map" src="http://maps.google.com/maps/api/staticmap?center=-31.7379865,-60.5315248&zoom=13&size=400x400&maptype=roadmap&sensor=false&language=&markers=color:green|label:none|-31.7379865,-60.5315248" />
                  </div>
                </div>
                <div>  
                <div class="row">
                    <div class="six columns background-row">
                      <img class="mobile-map" src="http://maps.google.com/maps/api/staticmap?center=-31.7379865,-60.5315248&zoom=13&size=400x400&maptype=roadmap&sensor=false&language=&markers=color:green|label:none|-31.7379865,-60.5315248" />
                      </div>
                      <div class="six columns background-row">
                         <h1> 5 </h1>
                         <h1> DIC </h1>
                         <h3>Mar Del Plata @ Dev Spark</h3>
                         <h3> Noche Relampago </h3>
                         <img class="icon-medium" src="http://google.github.io/material-design-icons/image/svg/ic_flash_on_24px.svg"/>
                      </div>
                  </div>
                </div>  
            </wrap-owlcarousel>   -->
        </div>

    </div>
</div>

<div class="parallax" id="como">
    <div class="detail row">
        <div class="twelve columns centered ">
            <h2>¿Cómo lo hacemos?</h2>
            <div class="four columns">
              <img class="icon" src="http://google.github.io/material-design-icons/action/svg/ic_settings_24px.svg"/>
              <h3>Hackathons</h3>
              <h3> <small>48 horas </small></h3>
              <p>Generamos un ambiente de trabajo donde las personas transforman ideas en prototipos para solucionar problemas.</p>
            </div>
            <div class="four columns">
              <img class="icon" src="http://google.github.io/material-design-icons/av/svg/ic_loop_24px.svg"/>
               <h3>Bootcamps</h3>
              <h3>   <small> 4 a 6 horas </small></h3>
                <p>Arrancando desde 0, te ayudamos a entender como trabajar con nuevas plataformas y herramientas.</p>
            </div>
            <div class="four columns">
              <img class="icon" src="http://google.github.io/material-design-icons/image/svg/ic_flash_on_24px.svg"/>
              <h3>Noches Relampago </h3>
              <h3> <small> 2 a 3 horas  </small></h3>
              <p>Juntamos personas de la comunidad para que cuenten sus proyectos y experiencias para poder aprender de ellos.</p>  
            </div>
        </div>
    </div>
</div>

<div class="parallax" id="que">
    <div class="detail row">
        <div class="twelve columns centered">
            <h1>¿Que hicimos hasta ahora?</h1>
                <wrap-owlcarousel class="owl-carousel"   
                data-options="{autoPlay: 100000, stopOnHover: true,  
                    slideSpeed : 300, paginationSpeed : 400, singleItem : true}">  
           
                  <div class="row">
                    <div class="six columns background-row" details="map">
                      <div class="details">
                         <h1> 25 </h1>
                         <h1> OCT 2014 </h1>
                         <h3>Santa Fe</h3>
                         <img  class="icon-medium" src="http://google.github.io/material-design-icons/av/svg/ic_loop_24px.svg"/>
                         <h3> Bootcamp </h3>
                      </div>
                    </div>
                    <div class="six columns background-row">
                    <div class="background-image">
                      
                    </div>
                       <div class="details menu">
                        <div class="six columns">
                          <img  class="icon" src="http://google.github.io/material-design-icons/action/svg/ic_face_unlock_24px.svg"/>
                          <h3> 50 </h3>
                        </div>
                        <div class="six columns">
                          <img  class="icon" src="http://google.github.io/material-design-icons/image/svg/ic_wb_sunny_24px.svg"/> 
                          <h3> 1 proyecto </h3>
                        </div>
                        <div class="six columns">
                          <img  class="icon" src="http://google.github.io/material-design-icons/action/svg/ic_settings_cell_24px.svg"/>
                          <h3>Arduino</h3>
                        </div>
                        <div class="six columns">
                          <img class="icon" src="http://google.github.io/material-design-icons/action/svg/ic_room_24px.svg"/>
                          <h3> FICH UNL @ Santa Fe </h3>
                        </div>
                      </div>
                    </div>
                </div> 
                  <div class="row">
                    <div class="six columns background-row" details="map">
                      <div class="details">
                         <h1> 18 / 20 </h1>
                         <h1> JUL 2014 </h1>
                         <h3>Parana, Entre Rios </h3>
                         <img  class="icon-medium" src="http://google.github.io/material-design-icons/action/svg/ic_settings_24px.svg"/>
                         <h3> Hackaton </h3>
                      </div>
                    </div>
                    <div class="six columns background-row">
                    <div class="background-image">
                      
                    </div>
                       <div class="details menu">
                        <div class="six columns">
                          <img  class="icon" src="http://google.github.io/material-design-icons/action/svg/ic_face_unlock_24px.svg"/>
                          <h3> 50 </h3>
                        </div>
                        <div class="six columns">
                          <img  class="icon" src="http://google.github.io/material-design-icons/image/svg/ic_wb_sunny_24px.svg"/> 
                          <h3> 5 proyectos </h3>
                        </div>
                        <div class="six columns">
                          <img  class="icon" src="http://google.github.io/material-design-icons/action/svg/ic_settings_cell_24px.svg"/>
                          <h3>Dat-Viz+Arduino</h3>
                        </div>
                        <div class="six columns">
                          <img class="icon" src="http://google.github.io/material-design-icons/action/svg/ic_room_24px.svg"/>
                          <h3>Casa Cultura @ Parana </h3>
                        </div>
                      </div>
                    </div>
                </div> 
                <div class="row">
                     <div class="six columns background-row" details="map">
                        <div class="details">
                           <h1> 30 </h1>
                           <h1> AGO 2014 </h1>
                           <h3>Ciudad de Buenos Aires </h3>
                           <img  class="icon-medium" src="http://google.github.io/material-design-icons/av/svg/ic_loop_24px.svg"/>
                           <h3> Bootcamp </h3>
                        </div>
                    </div>
                    <div class="six columns background-row">
                      <div class="background-image">
                        
                      </div>
                         <div class="details menu">
                          <div class="six columns">
                            <img  class="icon" src="http://google.github.io/material-design-icons/action/svg/ic_face_unlock_24px.svg"/>
                            <h3> 30 </h3>
                          </div>
                          <div class="six columns">
                            <img  class="icon" src="http://google.github.io/material-design-icons/image/svg/ic_wb_sunny_24px.svg"/> 
                            <h3> 1 idea </h3>
                          </div>
                          <div class="six columns">
                            <img  class="icon" src="http://google.github.io/material-design-icons/action/svg/ic_settings_cell_24px.svg"/>
                            <h3>D3+Arduino+NodeJS</h3>
                          </div>
                          <div class="six columns">
                            <img class="icon" src="http://google.github.io/material-design-icons/action/svg/ic_room_24px.svg"/>
                            <h3>CC Konex</h3>
                          </div>
                        </div>
                      </div>
                </div>  
                 <div class="row">
                    <div class="six columns background-row" details="map">
                      <div class="details">
                         <h1> 11/13 </h1>
                         <h1> OCT 2013 </h1>
                         <h3>Santa Fe </h3>
                         <img  class="icon-medium" src="http://google.github.io/material-design-icons/action/svg/ic_settings_24px.svg"/>
                         <h3> Hackaton </h3>
                      </div>
                    </div>
                    <div class="six columns background-row">
                    <div class="background-image">
                      
                    </div>
                       <div class="details menu">
                        <div class="six columns">
                          <img  class="icon" src="http://google.github.io/material-design-icons/action/svg/ic_face_unlock_24px.svg"/>
                          <h3> 40 </h3>
                        </div>
                        <div class="six columns">
                          <img  class="icon" src="http://google.github.io/material-design-icons/image/svg/ic_wb_sunny_24px.svg"/> 
                          <h3> 4 proyectos </h3>
                        </div>
                        <div class="six columns">
                          <img  class="icon" src="http://google.github.io/material-design-icons/action/svg/ic_settings_cell_24px.svg"/>
                          <h3> De todo!</h3>
                        </div>
                        <div class="six columns">
                          <img class="icon" src="http://google.github.io/material-design-icons/action/svg/ic_room_24px.svg"/>
                          <h3> FICH UNL @ Santa Fe </h3>
                        </div>
                      </div>
                    </div>
                </div> 

            </wrap-owlcarousel>  
            
        </div>
    </div>
</div>

<div class="parallax" id="hacer">
    <div class="detail row">
        <div class="twelve columns centered">
            <h2> ¿Por qué lo hacemos?</h2>
            <div class="four columns">
              <img class="icon" src="http://google.github.io/material-design-icons/social/svg/ic_people_outline_24px.svg"/>
              <h3>Comunidad</h3>
              <p>Queremos forma comunidades con conciencia creativa para promover el trabajo entre la industria creativa, la tecnologia y el diseño y romper barreras de entrada al uso de nuevas tecnologias. </p>
            </div>
            <div class="four columns">
              <img class="icon" src="http://google.github.io/material-design-icons/image/svg/ic_control_point_24px.svg"/>
               <h3>Regularidad</h3>
                <p>Buscamos ayudar a que el post hackaton no queden en la nada y buscamos mejorar la tasa de éxito de los prototipos atraves del trabajo con cada uno de los equipos.</p>
                </p>
            </div>
            <div class="four columns">
              <img class="icon" src="http://google.github.io/material-design-icons/maps/svg/ic_place_24px.svg"/>
              <h3>Federalizar</h3>
              <p>Creemos que todo el pais tiene el potencial para desarrollar comunidades y actividades de innovación.</p>  
            </div>
        </div>
        </div>
    </div>
</div>
<div class="parallax" id="para-que">
    <div class="detail row">
        <div class="twelve columns centered">
            <h2> ¿Que cosas podes hacer en un evento?</h2>
             <div class="three columns">
              <img class="icon" src="http://google.github.io/material-design-icons/image/svg/ic_control_point_24px.svg"/>
              <h3>Participar</h3>
              <p>Ayudar a formar la comunidad de Diseño y Tecnologia tu región aportando lo que vos sabes o yendo para aprender mas.</p>
            </div>
            <div class="three columns">
              
              <img class="icon" src="http://google.github.io/material-design-icons/social/svg/ic_people_outline_24px.svg"/>
               <h3>Equipos</h3>
              <p> Forma equipos y conoce personas a las que podes ayudar a concretar un proyecto usando tus habilidades.</p>
            </div>
            <div class="three columns">
              <img class="icon" src="http://google.github.io/material-design-icons/device/svg/ic_battery_charging_full_24px.svg"/>
              <h3>Concretar</h3>
              <p>Bajar todas las ideas que tengas y dar el primer paso para que sea algo tangible.</p>
            </div>
            <div class="three columns">
              <img class="icon" src="http://google.github.io/material-design-icons/file/svg/ic_file_upload_24px.svg"/>
              <h3>Aprender</h3>
              <p>Nuevas tecnologias, diseño y usabilidad con los mejores referentes de tu región.</p>
            </div>

        </div>
    </div>
</div>
</div>
<div class="parallax" id="quienes-somos">
    <div class="detail row">
        <div class="twelve columns centered">
            <h2>¿Quienes somos?</h2>
        </div>
        <div class="row personas">
            <div class="row">
                <div class="item">
                    <div class="round">
                        <img src="/img/humanos/rudi.jpg">
                    </div>
                    <h5> Lucas Rudi <p>@Thepiedrastone</p></h5>
                </div>
                <div class="item">
                    <div class="round">
                        <img src="/img/humanos/marcos.jpg">
                    </div>
                    <h5> Marcos Vivar <p>@m4rk1ch </p><h5>
        </div>
        <div class="item">
          <div class="round">
              <img src="/img/humanos/franco.jpg">
          </div>
              <h5> Franco Rabaglia <p>@franco_rabaglia</p></h5>
                </div>
            </div>
            <div class="row">
                <div class="item">
                    <div class="round">
                        <img src="/img/humanos/eze.jpg">
                    </div>
                    <h5> Ezequiel Romero <p> @ekiss88 </p></h5>
                </div>
                <div class="item">
                    <div class="round">
                        <img src="/img/humanos/tincho.jpg">
                    </div>
                    <h5>Martin Rabaglia </h5>
                    <p>@sr_humo</p>
                </div>
                <div class="item">
                    <div class="round">
                        <img src="/img/humanos/yvi.png">
                    </div>
                    <h5>Yvonne Bonnet </h5>
                    <p>@yvitabonnet</p>
                </div>
            </div>
        </div>
        <a class="cta" href="">Quiero sumarme</a>
    </div>
</div>

<div class="parallax" id="ayudan">
    <div class="row sponsors">
        <div class="twelve columns centered">
            <h2> ¿Quienes colaboran?</h2>
            <div class="ten centered columns">
                <div class="row">
                    <div class="four columns">
                        <img src="/img/sponsor/mcc_logo.jpg">
                    </div>
                    <div class="four columns">
                        <img src="/img/sponsor/cdlc_logo.jpg">
                    </div>
                    <div class="four columns">
                        <img src="/img/sponsor/mcc_logo_2.jpg">
                    </div>

                </div>
            </div>
            <div class="ten centered columns">
                <div class="four columns">
                    <a class="org" href="http://www.santafe.gov.ar/index.php/web/content/view/full/93790" target="_blank">
                        <img class="small " src="/img/Santa-Fe.jpg" a>
                        </h2>
                </div>
                <div class="four columns">
                    <a href="http://www.patagoniatecnology.com/tienda/" target="_blank">
                        <img src="/img/sponsor/patagonia.jpg">
                    </a>
                </div>

                <div class="four columns">
                    <a class="org" href="http://fich.unl.edu.ar" target="_blank">
                        <img class="small " src="/img/LOGO_FICH.png" />
                    </a>
                </div>

            </div>
            <div class="ten centered columns">
                <div class="four columns">
                    <img src="/img/sponsor/bocatta_logo.jpg">
                </div>
                <div class="four columns">
                    <img src="/img/sponsor/babylon_logo.png">
                </div>
                <div class="four columns">
                    <a href="http://sumaconectivo.com/" target="_blank">
                        <img src="/img/sponsor/suma_logo.jpg">
                    </a>
                </div>
            </div>
            

        </div>

    </div>
</div>
</div