<div class="navbar" id="nav1" gumby-fixed="top">
    <a class="toggle" gumby-trigger="#nav1 > div > div > ul" href="#"><i class="icon-menu"></i></a>
    <div class="row">
        <div class="twelve columns centered">
            <ul>
                <li><a href="" ng-click="next('hm')">Hackathon Makers</a>
                </li>
                <li><a href="" ng-click="next('cuando')">Cuando</a>
                </li>
                <li><a href="" ng-click="next('como')">Como</a>
                </li>
                <li><a href="" ng-click="next('que')">Que</a>
                </li>
                <li><a href="" ng-click="next('hacer')">Por qué</a>
                </li>
                <li><a href="" ng-click="next('quienes-somos')">Nosotros</a>
                </li>
                <li><a href="" ng-click="next('ayudan')">Colaboran</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="parallax" id="conceptos-slider">
    <div class="background"></div>
    <div class="detail row">
        <div class="twelve columns centered">
            <h1>Concretemos buenas ideas</h1>
        </div>
        <div class="twelve columns centered">
            <div class="copy">
                <p>El avance de la tecnología nos permite idear, implementar y testear ideas para así solucionar problemas en breves periodos. La capacidad de creación y creatividad individual está en crecimiento.</p>
            </div>
        </div>
    </div>
</div>

<div class="parallax" id="hm">
    <div class="background"></div>
    <div class="detail row">
        <div class="twelve columns centered">
            <h1>Hackaton Makers</h1>
        </div>
        <div class="twelve columns centered">
            <div class="copy">
                <p>Nos dedicamos a generar inquietudes y a ayudar a que las cosas pasen armando espacios de colaboración donde las personas logran concretar objetivos propios y grupales utilizando nuevas herramientas de manera intensiva durante breves periodos de tiempo.</p>

                <h3> Personas + Tech + Diseño +  Ideas </h3>
            </div>
        </div>
    </div>
</div>

<div class="parallax" id="cuando">
    <div class="detail row">
        <div class="twelve columns centered">
            <h2>¿Cuando son los proximos eventos?</h2>
            <div>
                <h3>Novimebre 2014 - Hackathon Litoral - Santa Fe @ FICH UNL </h3>
                <p>Descripcion</p>
                <p>Sponsors</p>
            </div>
            <div>
                <h3>Diciembre 2014 - Noches Relampago - Mar Del Plata @ DevSpark </h3>
                <p>Descripcion</p>
                <p>Sponsors</p>
            </div>
            <a class="cta" href="">Quiero que vengan a mi ciudad</a>
        </div>

    </div>
</div>

<div class="parallax" id="como">
    <div class="detail row">
        <div class="twelve columns centered">
            <h2>¿Cómo lo hacemos?</h2>
            <h3>Hackathons <small>2 a 3 dias </small></h3>
            <p>Generamos un ambiente de trabajo, juntamos personas e ideas y armamos equipos para lograr concretar prototipos.</p>
            <h3>Bootcamps  <small> 4 a 6 horas </small></h3>
            <p>Arrancando desde 0, te ayudamos a entender como trabajar con nuevas plataformas y herramientas.</p>
            <h3>Noches Relampago <small> 2 a 3 horas  </small></h3>
            <p>Juntamos personas de la comunidad para que cuenten sus proyectos y experiencias para poder aprender de ellos.</p>
            <a class="cta" href="">Quiero hacer de esto.</a>
        </div>

    </div>
</div>

<div class="parallax" id="que">
    <div class="detail row">
        <div class="twelve columns centered">
            <h2>¿Que hicimos hasta ahora?</h2>
            <div>
                <h3>Hackathon Litoral 2013 - Santa Fe </h3>
                <p>{{descripcion}}</p>
                <p>Donde Cuando</p>
                <p>Proyectos Destacados</p>
                <p>Sponsors</p>
            </div>
            <div>
                <h3>Hackathon Litoral 2014 - Parana</h3>
                <p>{{descripcion}}</p>
                <p>Donde Cuando</p>
                <p>Proyectos Destacados</p>
                <p>Sponsors</p>
            </div>
            <div>
                <h3>Sensor Journalism Bootcamp - HackHackers Media Party 2014.</h3>
                <p>{{descripcion}}</p>
                <p>Donde Cuando</p>
            </div>
        </div>
    </div>
</div>

<div class="parallax" id="hacer">
    <div class="detail row">
        <div class="twelve columns centered">
            <h2> ¿Por qué lo hacemos?</h2>
            <p>Queremos formar comunidades con conciencia creativa.</p>
            <p>Romper barreras de entrada y promover el uso de nuevas tecnologías.</p>
            <p>Federalizar la actividades de innovación.</p>

        </div>
    </div>
</div>
<div class="parallax" id="hacer-como">
    <div class="detail row">
        <div class="twelve columns centered">
            <h2> ¿Como lo estamos haciendo? </h2>
            <p>Organizamos eventos que fomenten la iniciativa de producción e innovación tecnológica de comunidades de diferentes regiones del país.</p>
            <p>Promovemos el trabajo entre la industria creativa, la tecnologia y el diseño.</p>
            <!--          Este punto es correcto en esta seccion???         -->
            <p>Pujamos por incrementar la tasa de éxito de los prototipos en el evento y fomentamos motivaciones para el trabajo post hacakthon de cada uno de estos.</p>
        </div>
    </div>
</div>
<div class="parallax" id="para-que">
    <div class="detail row">
        <div class="twelve columns centered">
            <h2> ¿Para que te puede servir un evento?</h2>
            <p>Ayudar a formar la comunidad de Diseño y Tecnologia tu región</p>
            <p>Formar equipos para concretar ideas</p>
            <p>Ir de una Idea a un Prototipo</p>
            <p>Aprender nuevas tecnologias</p>
            <p>Aprender diseño y usabilidad</p>
        </div>
    </div>
</div>
</div>
<div class="parallax" id="quienes-somos">
    <div class="detail row">
        <div class="twelve columns centered">
            <h2>¿Quienes somos?</h2>
        </div>
        <div class="row personas">
            <div class="row">
                <div class="item">
                    <div class="round">
                        <img src="/img/humanos/rudi.jpg">
                    </div>
                    <h5> Lucas Rudi <p>@Thepiedrastone</p></h5>
                </div>
                <div class="item">
                    <div class="round">
                        <img src="/img/humanos/marcos.jpg">
                    </div>
                    <h5> Marcos Vivar <p>@m4rk1ch </p><h5>
        </div>
        <div class="item">
          <div class="round">
              <img src="/img/humanos/franco.jpg">
          </div>
              <h5> Franco Rabaglia <p>@franco_rabaglia</p></h5>
                </div>
            </div>
            <div class="row">
                <div class="item">
                    <div class="round">
                        <img src="/img/humanos/eze.jpg">
                    </div>
                    <h5> Ezequiel Romero <p> @ekiss88 </p></h5>
                </div>
                <div class="item">
                    <div class="round">
                        <img src="/img/humanos/tincho.jpg">
                    </div>
                    <h5>Martin Rabaglia </h5>
                    <p>@sr_humo</p>
                </div>
                <div class="item">
                    <div class="round">
                        <img src="/img/humanos/yvi.png">
                    </div>
                    <h5>Yvonne Bonnet </h5>
                    <p>@yvitabonnet</p>
                </div>
            </div>
        </div>
        <a class="cta" href="">Quiero sumarme</a>
    </div>
</div>

<div class="parallax" id="ayudan">
    <div class="row sponsors">
        <div class="twelve columns centered">
            <h2> ¿Quienes colaboran?</h2>
            <div class="tweleve centered columns">
                <div class="row">
                    <div class="four columns">
                        <img src="/img/sponsor/mcc_logo.jpg">
                    </div>
                    <div class="four columns">
                        <img src="/img/sponsor/cdlc_logo.jpg">
                    </div>
                    <div class="four columns">
                        <img src="/img/sponsor/mcc_logo_2.jpg">
                    </div>

                </div>
            </div>
            <div class="tweleve centered columns">
                <div class="four columns">
                    <a class="org" href="http://www.santafe.gov.ar/index.php/web/content/view/full/93790" target="_blank">
                        <img class="small " src="/img/Santa-Fe.jpg" a>
                        </h2>
                </div>
                <div class="four columns">
                    <a href="http://www.patagoniatecnology.com/tienda/" target="_blank">
                        <img src="/img/sponsor/patagonia.jpg">
                    </a>
                </div>

                <div class="four columns">
                    <a class="org" href="http://fich.unl.edu.ar" target="_blank">
                        <img class="small " src="/img/LOGO_FICH.png" />
                    </a>
                </div>

            </div>
            <div class="tweleve centered columns">
                <div class="four columns">
                    <img src="/img/sponsor/bocatta_logo.jpg">
                </div>
                <div class="four columns">
                    <img src="/img/sponsor/babylon_logo.png">
                </div>
                <div class="four columns">
                    <a href="http://sumaconectivo.com/" target="_blank">
                        <img src="/img/sponsor/suma_logo.jpg">
                    </a>
                </div>
            </div>
            <div class="twelve centered columns">
                <a class="cta" href="">Quiero ayudar</a>
            </div>

        </div>

    </div>
</div>
</div