<div class="row agenda">
<h1> Agenda </h1>
  <h2> Viernes 11 Octubre </h2>
  <h4> Presentacion, Desafios y Equipos</h4>
  <ul>
    <li>17 hs    - Inicio del evento</li>
    <li>17.30 hs - Charlas introductorias de experiencias de hackaton</li>
    <li>19 hs    - Apertura y Acreditación</li>
    <li>19.30 hs - Introduccion y presentacion</li>
    <li>20 hs    - Exposición de Ideas y armamos de equipos</li>
    <li>20.30 hs - Recorrida y charlas.</li>
  </ul>
  <h2> Sábado 12 Octubre </h2>
  <h4> Hack! Aprendizaje y Diversión.</h4>
  <ul>
    <li>9:30 hs - Apertura día 2</li>
    <li>10 hs - Desayuno</li>
    <li>11 hs a 12 hs - Chequeo de Equipos</li>
    <li>13 hs - Almuerzo</li>
    <li>14 hs - 22  hs - Programar!</li>
    <li>22 hs - Cena</li>
  </ul>
  <h2> Domingo 13 Octubre  </h2>
  <h4> Hack!- Hack & Presentaciones</h4>
  <ul>
    <li>10 hs - Desayuno</li>
    <li>11 hs - 16hs - Programar!</li>
    <li>16 hs - Presentaciones  <small>2 minutos reloj por proyecto </small></li>
    <li>20 hs - Cierre evento!</li>
  </ul>
  <div class="inscribite"><a href="http://fich.unl.edu.ar/hackathon2013/inscripcion.php">Inscribite ya!</a></div>
</div>