<div class="wrapper nopad">

	<div class="row">
		<!--
		<section class="four columns">
			<nav id="sidebar-nav-holder" class="vertical-nav unfixed" gumby-fixed="top" gumby-pin="[data-target='help-im-stuck']" style="top: 0px; left: 170px; width: 300px;">
				<ul id="sidebar-nav">

					<li class="active">
						<a href="#inscripcion" class="skip" gumby-update="" gumby-duration="600" gumby-goto="[data-target='inscripcion']">Inscripción</a>
					</li>

					<li>
						<a href="#proyectos" class="skip" gumby-update="" gumby-duration="600" gumby-goto="[data-target='proyectos']">Proyectos</a>
					</li>

					<li>
						<a href="#hacking" class="skip" gumby-update="" gumby-duration="600" gumby-goto="[data-target='hacking']">Hacking</a>
					</li>

					<li>
						<a href="#installing-ruby" class="skip" gumby-update="" gumby-duration="600" gumby-goto="[data-target='installing-ruby']">Installing Ruby</a>
					</li>

					<li>
						<a href="#gem-dependencies" class="skip" gumby-update="" gumby-duration="600" gumby-goto="[data-target='gem-dependencies']">Gem Dependencies</a>
					</li>

					<li>
						<a href="#compiling-for-the-first-time" class="skip" gumby-update="" gumby-duration="600" gumby-goto="[data-target='compiling-for-the-first-time']">Compiling for the First Time</a>
					</li>

					<li>
						<a href="#writing-your-first-sass" class="skip" gumby-update="" gumby-duration="600" gumby-goto="[data-target='writing-your-first-sass']">Writing Your First Sass</a>
					</li>

					<li>
						<a href="#best-practices" class="skip" gumby-update="" gumby-duration="600" gumby-goto="[data-target='best-practices']">Best Practices</a>
					</li>

					<li>
						<a href="#help-im-stuck" class="skip" gumby-update="" gumby-duration="600" gumby-goto="[data-target='help-im-stuck']">Help! I’m Stuck!</a>
					</li>

				</ul>
			</nav>
		</section>
	-->

	<section class="nine columns push_one" id="docs-content">


		<div class="left-center" data-target="inscripcion">
			<h2>Inscripción</h2>
			<p>La inscripción es obligatoria y se podrá hacer, inclusive, el día del evento.</p>

		</div>

		<div class="left-center" data-target="proyectos">
			<h2>Proyectos</h2>
			<p>Los proyectos se van a poder subir durante los días previos al evento y durante el inicio del mismo con las ideas propuestas en conjunto entre los organizadores y los participantes.</p>

		</div>

		<div class="left-center" data-target="quienes">
			<h2>¿Quiénes pueden participar?</h2>
			<p>¿Sos programador, arquitecto, artista, investigador, diseñador, estudiante, empleado de Gobierno, ingeniero, miembro de ONG, periodista o un apasionado con una idea para probar o una habilidad para sumar? Esta es tu oportunidad para mejorar colaborativamente el código fuente de la Ciudad.</p>

		</div>

		<div class="left-center" data-target="donde">
			<h2>¿Dónde es?</h2>

			<div>
			<p>En la Facultad de Ingeniería y Ciencias Hídricas, de la Universidad Nacional del Litoral.</p>
			<p>
				<strong>Ciudad Universitaria, Ruta Nacional N° 168 - Km 472,4
				</strong>
			</p>
			<p><strong>Santa Fé, Argentina</strong>
			</div>
			<img class="mobile-map" src="http://maps.google.com/maps/api/staticmap?center=-31.6404087,-60.6722833&zoom=13&size=400x500&maptype=roadmap&sensor=false&language=&markers=color:green|label:none|-31.6404087,-60.6722833" />
		</div>



		<div class="left-center" data-target="dudas">
			<h2>Aún tengo dudas</h2>
			<p>Escribinos en: 
				<a href="http://www.facebook.com/events/1450927081799187/" target="_blank"> 
					<i class="icon-facebook-circled icon-big"></i>
				</a>

				<a href="http://twitter.com/hackatonlitoral" target="_blank">
					<i class="icon-twitter-circled icon-big"></i>
				</a>
			</p>
		</div>



		<div class="left-center" data-target="participacion">
			<h2>No puedo ir a la facultad, ¿puedo participar igual?</h2>
			<p>Por supuesto, contactate con algún equipo y colaborá, en su proyecto. Podés ayudar desde tu casa o desde donde puedas.</p>

			<h2>¿Hay que ir con equipo o puedo ir sólo?</h2>
			<p>Podés participar uniéndote a un equipo o ir con un equipo ya formado.</p>

			<h2>No puedo asistir durante la duración de todo el evento. ¿Puedo participar igualmente?</h2>
			<p>Claro.</p>

			<h2>¿Tengo que llevar mi laptop?</h2>
			<p>Si, necesitamos que cada equipo tenga los materiales necesarios para desarrollar su proyecto.</p>
		</div>

	</section>
</div>
</div>
