<div class="row">
  <h1>Primer <strong> #hackaton litoral </strong></h1>
  <h2>Hackaton = <stong>Innovacion Enfocada </stong> </h2>
  <h3>11-13 Octubre 2013 - Santa Fe</h3>
</div>
<div class="row">
  <h1> Que es esto? </h1>
    <p>El <strong> #HackathonLitoral </strong>2013 tiene como objetivo dedicar 48 hs a solucionar a problemas planteados por la comunidad apartir de la creacion de soluciones creativas e innovadoras desde tecnología y diseño. </p>
  <h1> Que es un hackaton? </h1>
    <p>Un  hackathon (acrónimo de las palabras &quot;hack&quot; y &quot;maratón&quot;),  también conocido como <em>hackfest</em> o <em>codefest,</em> es un evento en el personas inquietas de distintas disciplinas (tecnologia, diseño, arquitectura, medicina, comunicacion, gobierno)  trabajan colaborativamente en el desarrollo de innovaciones destinadas a solucionar problemas reales de las ciudades del mundo. </p>
  <h1> Cuando ?</h1>
    <p>Se llevará  a cabo del 11 al 13 de octubre de 2013</p>
  <h1> Donde ?</h1>
  <p>En Facultad de Ingeniería y Ciencias Hídricas de la Universidad Nacional del Litoral, Ciudad Universitaria, Santa  Fe.</p>
  <h1> Quien Organiza?</h1>
  <p>Es organizado por la FICH, con el auspicio del Ministerio de la Producción de la Provincia de Santa Fe.</p>
</div>
<div class="row">

<h1> Sponsors </h1>

<h4> Si estás interesado en sponsorear Hackaton Litoral 2013, escribinos a
gmartin@unl.edu.ar </h4>
</div>