<div class="row intro">
  <h2><stong>Seamos parte de la solución</stong> </h2>
  <h4>11-13 Octubre 2013 - Santa Fé</h4>
  <div class="inscribite"><a href="http://fich.unl.edu.ar/hackathon2013/inscripcion.php">Inscribite ya!</a></div>

</div>

<div class="row about">
  <h1> ¿Qué es esto? </h1>
    <p>El <strong> #HackatonLitoral </strong>2013 tiene como objetivo dedicar 48 hs a solucionar a problemas planteados por la comunidad a partir de la creacion de soluciones innovadoras desde tecnología y el diseño. </p>
</div>

<div class="row soluciones">
<h1> ¿Qué soluciones vamos a construir? </h1>
 <div class="row">
    <div class="item">
      <h4> <i class="icon-megaphone icon-big"></i> Gobierno Abierto</h4>
    </div>
    <div class="item">
      <h4> <i class="icon-traffic-cone icon-big"></i> Transporte</h4>
    </div>
    <div class="item">
      <h4> <i class="icon-flight icon-big"></i> Turismo</h4>
    </div>
  </div>
 <div class="row">
    <div class="item">
      <h4> <i class="icon-picture icon-big"></i>Patrimonio </h4>
    </div>
    <div class="item">
      <h4> <i class="icon-note-beamed icon-big"></i>  Cultura</h4>
    </div>
    <div class="item">
      <h4> <i class="icon-globe icon-big"></i> Seguridad</h4>
    </div>
  </div>
 <div class="row">
    <div class="item">
      <h4> <i class="icon-leaf icon-big"></i> Ecología</h4>
    </div>
    <div class="item">
      <h4> <i class="icon-graduation-cap icon-big"></i> Educación</h4>
    </div>
        <div class="item">
      <h4> <i class="icon-basket icon-big"></i> Economía</h4>
    </div>
  </div>
 <div class="row">
    <div class="eight columns centered">
      <h4><strong>Todos podemos sumar ideas</strong></h4>
       <div class="inscribite"><a href="http://hacksf2013.hackdash.org/">Agregá la tuya!</a></div>
     </div>
  </div>
</div>

<div class="row where">
  <div class="info">
    <h2> ¿Cúando ?</h2>
    <p>Se llevará  a cabo del <strong>11 al 13 de octubre de 2013</strong></p>
    <h2> ¿Dónde ?</h2>
    <p>En Facultad de Ingeniería y Ciencias Hídricas</p>
    <p>Universidad Nacional del Litoral</p>
    <p>
    <strong>Ciudad Universitaria,Ruta Nacional N° 168 - Km 472,4
    </strong></p>
    <p><strong>Santa Fé, Argentina</strong>
  </div>
  <img class="mobile-map" src="http://maps.google.com/maps/api/staticmap?center=-31.6404087,-60.6722833&zoom=13&size=400x500&maptype=roadmap&sensor=false&language=&markers=color:green|label:none|-31.6404087,-60.6722833" />
  <div id="map-canvas"></div>
</div>

<div class="row">
  <h1> ¿Qué es un hackaton? </h1>
  <p>Un  hackathon (acrónimo de las palabras &quot;hack&quot; y &quot;maratón&quot;),  también conocido como <em>hackfest</em> o <em>codefest,</em> es un evento en el qué personas inquietas de distintas disciplinas (tecnologia, diseño, arquitectura, medicina, comunicacion, gobierno)  trabajan colaborativamente en el desarrollo de innovaciones destinadas a solucionar problemas de la comunidad. </p>
</div>

<div class="row ">
  <h2> ¿Qué proyectos salieron de hackatons? </h2>
  <div ng-repeat="p in projects">
    <div class="soluciones">
        <a href="{{p.link}}" target="_blank">
          <h4> {{p.hack}} <small>{{p.where}} <b>({{p.description}})</b></small></h4>
        </a>
      </div>
    </div>
</div>

<div class="row organiza">
  <h1> Organiza &amp; Colabora </h1>
  <div class="row">
    <a class="org" href="http://fich.unl.edu.ar" target="_blank"> <img class="small " src="/img/LOGO_FICH.png"/> </a>
    <a class="org" href="http://www.santafe.gov.ar/index.php/web/content/view/full/93790" target="_blank"><img class="small " src="/img/Santa-Fe.jpg"a></h2>
    <a class="org" href="http://sumaconectivo.com/" target="_blank"><img class="small " src="/img/SUMA_logo.png"/></a>
    <a class="org" href="http://www.mateslab.com.ar"  target="_blank"><img class="small " src="/img/mateslab-hackspace-logo.svg"/> </a>
  </div>
  <h6> Si estás interesado en sponsorear Hackaton Litoral 2013, escribinos a <a href="mailto:gmartin@unl.edu.ar" target="_blank">gmartin@unl.edu.ar</a> </h6>
</div>