<div class="row">
  <h1><strong> #hackatonlitoral </strong></h1>
  <h5><span>(se lee: <strong>hack-a-ton @ litoral</strong>)</span></h5>
  <h2><stong>Seamos parte de la solución</stong> </h2>
  <h4>11-13 Octubre 2013 - Santa Fé</h4>
</div>
<div class="row">
  <h1> ¿Qué es esto? </h1>
    <p>El <strong> #HackatonLitoral </strong>2013 tiene como objetivo dedicar 48 hs a solucionar a problemas planteados por la comunidad a partir de la creacion de soluciones creativas e innovadoras desde tecnología y diseño. </p>
<h1> ¿Qué soluciones vamos a construir? </h1>


 <div class="row">
    <div class="four columns">
      <h4> <i class="icon-megaphone icon-big"></i> Gobierno Abierto</h4>
    </div>
    <div class="four columns">
      <h4> <i class="icon-traffic-cone icon-big"></i> Transporte</h4>
    </div>
    <div class="four columns">
      <h4> <i class="icon-flight icon-big"></i> Turismo</h4>
    </div>
  </div>
 <div class="row">
    <div class="four columns">
      <h4> <i class="icon-picture icon-big"></i>Patrimonio </h4>
    </div>
    <div class="four columns">
      <h4> <i class="icon-note-beamed icon-big"></i>  Cultura</h4>
    </div>
    <div class="four columns">
      <h4> <i class="icon-globe icon-big"></i> Seguridad</h4>
    </div>
  </div>
 <div class="row">
    <div class="four columns">
      <h4> <i class="icon-leaf icon-big"></i> Ecologia</h4>
    </div>
    <div class="four columns">
      <h4> <i class="icon-graduation-cap icon-big"></i> Educacion</h4>
    </div>
        <div class="four columns">
      <h4> <i class="icon-basket icon-big"></i> Economia</h4>
    </div>
  </div>
 <div class="row">
    <div class="eight columns centered">
      <h4><strong>....y todas las que se agreguen!</strong></h4>
     </div>
  </div>
  <h1> ¿Cúando ?</h1>
    <p>Se llevará  a cabo del 11 al 13 de octubre de 2013</p>
  <h1> ¿Dónde ?</h1>
  <p>En Facultad de Ingeniería y Ciencias Hídricas de la Universidad Nacional del Litoral, Ciudad Universitaria, Santa  Fé.</p>


  <h1> ¿Qué es un hackaton? </h1>
    <p>Un  hackathon (acrónimo de las palabras &quot;hack&quot; y &quot;maratón&quot;),  también conocido como <em>hackfest</em> o <em>codefest,</em> es un evento en el personas inquietas de distintas disciplinas (tecnologia, diseño, arquitectura, medicina, comunicacion, gobierno)  trabajan colaborativamente en el desarrollo de innovaciones destinadas a solucionar problemas de la comunidad. </p>
     <h1> ¿Qué proyectos salen de hackatons? </h1>

  <h1> ¿Quién organiza?</h1>
  <p>Es organizado por la FICH, con el auspicio del Ministerio de la Producción de la Provincia de Santa Fé.</p>
</div>
<div class="row">
  <h1 > Organizadores </h1>


  <h1> Colaboradores  </h1>
  <h4> Si estás interesado en sponsorear Hackaton Litoral 2013, escribinos a
  gmartin@unl.edu.ar </h4>
</div>