<div class="row">
    <div class="four columns">
      <h4> <i class="icon-megaphone icon-big"></i> Gobierno Abierto</h4>
    </div>
    <div class="four columns">
      <h4> <i class="icon-traffic-cone icon-big"></i> Transporte</h4>
    </div>
    <div class="four columns">
      <h4> <i class="icon-flight icon-big"></i> Turismo</h4>
    </div>
  </div>
 <div class="row">
    <div class="four columns">
      <h4> <i class="icon-picture icon-big"></i>Patrimonio </h4>
    </div>
    <div class="four columns">
      <h4> <i class="icon-note-beamed icon-big"></i>  Cultura</h4>
    </div>
    <div class="four columns">
      <h4> <i class="icon-globe icon-big"></i> Seguridad</h4>
    </div>
  </div>
 <div class="row">
    <div class="four columns">
      <h4> <i class="icon-leaf icon-big"></i> Ecologia</h4>
    </div>
    <div class="four columns">
      <h4> <i class="icon-graduation-cap icon-big"></i> Educacion</h4>
    </div>
        <div class="four columns">
      <h4> <i class="icon-basket icon-big"></i> Economia</h4>
    </div>
  </div>