<div class="wrapper nopad">
	<div class="row">
    <section class="nine columns push_one" id="docs-content">
    	<div class="left-center" data-target="inscripcion">
    		<h2>1. Twiteá sobre <strong><a href="http://clicktotweet.com/0cus8" target="_blank">#hackatonlitoral</a></strong></h2>
    	</div>
    	<div class="left-center" data-target="proyectos">
    		<h2>2. Cuidá tus cosas.</h2>
    	</div>
    	<div class="left-center" data-target="quienes">
    		<h2>3. Ayudar es ganar</h2>
    	</div>
      <div class="left-center" data-target="quienes">
        <h2>4. Todas las ideas son válidas! </h2>
      </div>
      <div class="left-center" data-target="quienes">
        <h2>5. Tomá mucho mate <small></small></h2>
      </div>
      <div class="left-center" data-target="quienes">
        <h2>6. 100% opensource <strong> <i class="icon-github icon-big"></i></strong></h2>
      </div>
     <div class="left-center" data-target="quienes">
        <h2>7. No comamos en las maquinas <small></small></h2>
      </div>

    </section>
</div>
</div>
