/* 1024 */
@media screen and (min-width: 64em) {
  
  div.parallax{
    min-height: 100vh;
    display: table;
  }
  div.owl-item div.row{
    height: 500px;
  }
  .row .three.columns{
    width: 25%
  }

  div.detail.row {
      padding-left: 4em;

  }
  .mobile-hide{
    display: block !important;
  }
  .personas .row .item {
    float: left;
    text-align: center;
  }
  .round{
        width: 200px;
      height: 200px;
  }

}