doctype html
html(xmlns:ng='http://angularjs.org')
    head
      meta(charset='utf-8')
      meta(name='fragment', content='!')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      title Hackaton Litoral 2014 - 11 JUL 19HS Parana - Enter Rios
      meta(name='description', content='Del 16 al 18 de Julio nos juntamos en Parana a generar soluciones innovadoras')
      meta(name='keywords', content='Hackathon, desarrollo moviles,moviles ciudad, parana, santa fe, innovacion, unl, fich, 2013, hackathon litoral')
      meta(name='robots', content='Index, All')
      meta(name='robots', content='Index, Follow')
      meta(name='revisit-after', content='10 days')
      link(rel='shortcut icon', href='http://hackatonlitoral.herokuapp.com/favicon.png', type='image/png')
      meta(property='fb:page_id', content='')
      meta(property='og:image', content='http://hackatonlitoral.herokuapp.com/favicon.png')
      meta(property='og:description', content='Del 16 al 18 de Julio nos juntamos en Parana a generar soluciones innovadoras. Inscribite y se parte de la solucion!')
      meta(property='og:title', content='#hackatonlitoral2014')
      meta(itemprop='name', content='#hackatonlitoral2014')
      meta(itemprop='description', content='Del 16 al 18 de Julio nos juntamos en Parana a generar soluciones innovadoras. Inscribite y se parte de la solucion!')
      meta(itemprop='image', content='http://hackatonlitoral.herokupapp.com/img/hackatonlitoral_fb.jpg')
      meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
      script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?key=AIzaSyD4ZXkREbaqNu06-W9cswKg3ZnI6TWrHLI&sensor=false')
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
      link(href='http://fonts.googleapis.com/css?family=PT+Sans:300,400,600,700', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='css/gumby.css')
      link(rel='stylesheet', href='css/base.css')
      link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css')
    body(ng-app='App')
      header
        h1.logo
          a(href='/') #hackatonlitoral 2014
      .container
        block content
      #subfoot.wrapper.shaded
        section.row
          .twelve.columns.centered
            p Copyright © Hackathon Litoral 2014.
            .row
              a(href='http://www.facebook.com/events/1450927081799187/', target='_blank')
                i.icon-facebook-circled.icon-big
              a(href='http://twitter.com/hackatonlitoral', target='_blank')
                i.icon-twitter-circled.icon-big
              a(href='http://tumblr.com/hackatonlitoral', target='_blank')
                i.icon-tumblr-circled.icon-big

      script(src='js/frameworks/angular.min.js')
      script(src='js/frameworks/angular-resource.js')
      script(src='js/frameworks/angular-google-maps.js')
      script(src='js/frameworks/angular-seo.js')
      script(src='js/libs/moment.min.js')
      script(src='js/libs/modernizr-2.0.6.min.js')
      script(src='js/libs/gumby.min.js')
      script(src='js/controllers/main.js')
      script(src='js/controllers/agenda.js')
      script(src='js/controllers/reglas.js')
      script(src='js/controllers/faq.js')
      script(src='js/services/libs/localStorage.js')
      script(src='js/app.js')
      //
         endbuild 
