/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/


.white {
  color:white;
}
.white a {
  color:white;
}

.icon-big{
  zoom: 2 !important;
}

.centered{

  text-align: center;
}

.wrapper.shaded {
  background-color:#BFF5CC !important;
  background-size: cover;
}
body {
  color: #3B884E;;
}

.navbar {
  background: #6dbb80;
}

h1, h2, h3, h4, h5, h6 {

  color: #6dbb80;

}


  .navbar a:hover {
    background: #6dbb80;
  }
  .navbar a:active, .navbar a.toggle.active {
    background: #6dbb80;
  }



  .small.pic{

  max-width: 150px;
  width: 150px;

  }
