/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

.soluciones h4 {
  padding: 14px 0;
  font-size: 1.625rem;
}
.white {
  color:white;
}
.white a {
  color:white;
  display: inline-block !important;
}

.icon-big{
  zoom: 2 !important;
}

.centered{

  text-align: center;
}

.wrapper.shaded {
  background-color:#BFF5CC !important;
  background-size: cover;
}
body {
  color: #3B884E;;
}

.navbar {
  background: #6dbb80;
}

h1, h2, h3, h4, h5, h6 {

  color: #6dbb80;

}

.navbar ul li > a {

  text-shadow: none;
}
.gumby-no-touch .navbar ul li:hover > a,
.gumby-touch .navbar ul li.active > a {
  position: relative;
  background: #4CA562 !important;
  z-index: 1000;
}

a
{
 color: #6dbb80;
}
a:hover{
  color:#4CA562;
}
.navbar ul li .icons > a {
  display: inline-block !important;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
color: #6dbb80;
}
.small.pic{


  height: 150px;
  overflow: hidden;

}
.row.soluciones .row {
  border: 0;
  padding: 0;
}
.show-tablet{ display:none;}
.icons.field.white .row {
  width: auto;
}
@media only screen and (min-width: 768px){

  .show-tablet{ display:block;}
  .icons.field.white .row {
    width: 200px;
  }
  .row.soluciones .row {
    border: 10px;
    padding: 16px;
  }
  .soluciones h4 {
    font-size: 1.125rem;
  }
  h1 {
     font-size: 3.625rem;
     font-weight:  bold;
  }

}
@media only screen and (min-width: 1024px){

  .soluciones h4 {
    padding: 14px 0;
    font-size: 1.625rem;
  }
}
