<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
  <head>
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <% partial('meta') -%>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/frameworks/gumby.css">
    <link rel="stylesheet" href="/css/hackaton-makers/base.css">
  </head>
  <body ng-app="hm-app">
    <header>
    </header>
    <div class="container">
        <%- body %>
    </div>
    <div id="subfoot" class="wrapper shaded">
      <section class="row">
        <div class="twelve columns centered">
          <p>Copyright © Hackathon Makers 2014-2015
          <a href="https://www.facebook.com/pages/Hackaton-Litoral-2014/645587395485085" target="_blank"><i class="icon-facebook-circled icon-big"></i></a><a href="http://twitter.com/hackatonlitoral" target="_blank"><i class="icon-twitter-circled icon-big"></i></a><a href="http://tumblr.com/hackatonlitoral" target="_blank"><i class="icon-tumblr-circled icon-big"></i></a>
          </p>
        </div>
      </section>
    </div>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/apps/hackaton-makers/app.js"></script>
    <script src="/apps/hackaton-makers/controllers/main.js"></script>
    <!--
    <endbuild></endbuild>
    -->
  </body>
</html>