    <title>Hackaton Makers</title>
    <meta name="description" content="">
    <meta name="keywords" content="Hackathon, desarrollo moviles,moviles ciudad, Paraná, santa fe, innovacion, unl, fich, 2013, hackathon litoral">
    <meta name="robots" content="Index, All">
    <meta name="robots" content="Index, Follow">
    <meta name="revisit-after" content="10 days">
    <link rel="shortcut icon" href="http://www.hackatonlitoral.org/favicon.png" type="image/png">
    <meta property="fb:page_id" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <meta property="og:title" content="#">
    <meta itemprop="name" content="#">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@hackatonlitoral">
    <meta name="twitter:creator" content="@hackatonlitoral">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">